.content{
    margin: 20px;
    text-align: center;
}
.img{
    width: 80%;
    margin: 0 auto;
}
#myCarousel{
    width: 60%;
    margin: 20px auto;
}
.img img{
    width: 60%;
    margin: 20px auto;
}
.little_img{
    display: flex;
    width: 60%;
    margin: 30px auto;
}
.little_img img{
    width: 120px;
    
    margin: 0 20px;
    border: 1px solid #1b1e21;
}