.content{
	width: 80%;
	margin: 20px auto;
	text-align:center;
	.title{
		padding: 10px 0;
		display: flex;
		border: 1px solid #ccc;
		.one{
			flex: 5;
			
		}
		.two{
			flex: 1;
		}
		.three{
			flex: 1;
		}
	}
	.lists{
		padding: 10px 0;
		text-align:center;
		border: 1px solid #ccc;
		display: flex;
		.list{
			flex: 5;
			
		}
		.option{
			flex: 1;
			display: flex;
			button{
				flex: 1;
				margin: 0 20px;
				border: 1px solid #ccc;
			}
		}
		.state{
			flex:1;
		}
	}
}