.product{
	display: flex;
	a:hover{
		color: #337ab7;
	}
	.left{
		margin: 20px 0 20px 20px;
		.active{
			color: #337ab7;
		}
		flex:1;
		.first{
			display: flex;
			flex-direction: column;
			font-size:20px;
			
		}
		.second_left{
			display: flex;
			flex-direction: column;
			font-size:20px;
		}
		
		.one,.two{
			font-size:25px;
		}
	}
	.right{
		flex:2;
		.all{
			.list{
				float: left;
				margin: 30px;
				width: 22%;
				height: 22%;
				text-align:center;
				img{
					width: 160px;
					height: 120px;
				}
				.title{
					margin-top: 10px;
					font-weight: 700;
				}
			}
		}
	}
}
