<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>canyon</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/common.css">
    <style>
        .content{
            text-align: center;
            display: flex;
            margin-top: 50px;
        }
        .left{
          flex: 1;
          margin-top: 10%;
        }
        .right{
          flex: 1;
        }
        .right img{
          width:80%;
        }
        h2{
            margin: 100px;
        }
    </style>
</head>
<body>
<div class="head">
      <img src="../images/logo.jpg" class="logo">
      <div class="tab">
          <ul>
            <li><a href="#" id="Home" onclick="home()" class="hideQita">Home</a></li>
            <li><a href="#" id="aboutUs" onclick="team()" class="hideQita">About us</a></li>
            <li class="product_guide">
              <a href="#" id="product">Prouducts</a>
              <ul class="first_guide" style="display: none;">
            
              </ul>
            </li>
            <li><a href="#" id="guest_book" class="hideQita" onclick="guest()">Guest book</a></li>
            <li><a href="#" id="contact_us" class="hideQita" onclick="contact()">Contact us</a></li>
            <li>
              <a href="#" id="search" class="hideQita">Search</a>
              <div class="search" style="display: none;">
                <input type="text" class='input'>
                <button class="searchSubmit">Search</button>
                <button class="Close">Close</button>
              </div>
              
            </li>
          </ul>
      </div>
    </div>
<div class="content">
  <div class="left">
    <div>
        <h4>Area: No.2-3 BAIYUN MOUNTAIN VILLA, JIAOJIANG, TAIZHOU, ZHEJIANG, CHINA, 318000</h4>
    </div>
    <div>
        <h4>Email: sophiecym@163.com</h4>
    </div>
    <div>
        <h4>Telephone: 0086-1357594770</h4>
    </div>
  </div>
  <div class="right">
    <img src="../images/contact.jpg" alt="">
  </div>  
</div>
  <script src="../js/jquery.js"></script>
  <script src="../bootstrap/js/bootstrap.js"></script>
<script src="../js/index.js"></script>
</body>
</html>