<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>canyon</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"> -->
  <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/product.css">
  <link rel="stylesheet" href="../css/pagination.css">
  <link rel="stylesheet" href="../css/common.css">
</head>
<body>
	<div class="head">
      <img src="../images/logo.jpg" class="logo">
      <div class="tab">
          <ul>
            <li><a href="#" id="Home" onclick="home()" class="hideQita">Home</a></li>
            <li><a href="#" id="aboutUs" onclick="team()" class="hideQita">About us</a></li>
            <li class="product_guide">
              <a href="#" id="product">Prouducts</a>
              <ul class="first_guide" style="display: none;">
              </ul>
            </li>
            <li><a href="#" id="guest_book" class="hideQita" onclick="guest()">Guest book</a></li>
            <li><a href="#" id="contact_us" class="hideQita" onclick="contact()">Contact us</a></li>
            <li>
              <a href="#" id="search" class="hideQita">Search</a>
              <div class="search" style="display: none;">
                <input type="text" class='input'>
                <button class="searchSubmit">Search</button>
                <button class="Close">Close</button>
              </div>
              
            </li>
          </ul>
      </div>
  </div>
	<div class="product">
      <div class="left">
        <span class="one">Product class I Catalog</span>
        <div class="first">
            
        </div>
        <span class="two">Product class II Catalog</span>
        <div class="second">
            
        </div>
      </div>
      <div class="right">
       
      </div>
  </div>
  <div class="ht-page">
  </div>  

    <div class="contact">
      <div>
       <span>No.2-3 BAIYU MOUNTAIN VILLA, JIAOJIANG, TAIZHOU, ZHEJIANG, CHINA, 318000</span>
      </div>
      <div>
        <span>sophiecym@163.com</span>
      </div>
      <div>
        <span>0086-1357594770</span>
      </div>
    </div>
    </div>
    <!-- <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script> -->
    <script src="../js/jquery.js"></script>
    <script src="../js/pagination.js"></script>
    <script src="../bootstrap/js/bootstrap.js"></script>
    <script src="../js/lodash.js"></script>  
    <script src="../js/product.js"></script>
    <script src="../js/index.js"></script>
</body>
</html>