<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>canyon</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"> -->
  <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/team.css">
  <link rel="stylesheet" href="../css/common.css">
</head>
<body>
	<div class="head">
      <img src="../images/logo.jpg" class="logo">
      <div class="tab">
          <ul>
            <li><a href="#" id="Home" onclick="home()" class="hideQita">Home</a></li>
            <li><a href="#" id="aboutUs" onclick="team()" class="hideQita">About us</a></li>
            <li class="product_guide">
              <a href="#" id="product">Prouducts</a>
              <ul class="first_guide" style="display: none;">
                <li class="qita yiji hot" onclick="product('hot')">hot</li>
              <!-- <ul class="first_guide"> -->
                <!-- <li class="qita yiji" onclick="product('hot')">hot</li>
                <li class="relative_guide beach yiji" onclick="product('beach_shorts')">
                  beach shorts
                  <ul class="second_guide beach_shorts_guide" style="display: none;">
                    <li class="erji" onclick="product('men')">men's shorts</li>
                    <li class="erji" onclick="product('women')">women's shorts</li>
                    <li class="erji" onclick="product('kids')">kids shorts</li>
                  </ul>
                </li>
                <li class="relative_guide sports yiji" onclick="product('sports_wears')">
                  sports wears
                  <ul  class="second_guide sports_wears_guide" style="display: none;">
                    <li class="erji" onclick="product('MMA')">MMA shorts</li>
                    <li class="erji" onclick="product('boxing')">boxing shorts</li>
                    <li class="erji" onclick="product('track')">track suits</li>
                    <li class="erji" onclick="product('TKD')">TKD uniform</li>
                    <li class="erji" onclick="product('compressions')">compressions</li>
                  </ul>
                </li>
                <li class="qita yiji" onclick="product('pants')">pants</li>
                <li class="qita yiji" onclick="product('swimming_wears')">swimming wears</li>
                <li class="qita yiji" onclick="product('knit_wears')">knit wears</li>
                <li class="qita yiji" onclick="product('others')">others</li> -->
              </ul>
            </li>
            <li><a href="#" id="guest_book" class="hideQita" onclick="guest()">Guest book</a></li>
            <li><a href="#" id="contact_us" class="hideQita" onclick="contact()">Contact us</a></li>
            <li>
              <a href="#" id="search" class="hideQita">Search</a>
              <div class="search" style="display: none;">
                <input type="text" class='input'>
                <button class="searchSubmit">Search</button>
                <button class="Close">Close</button>
              </div>
              
            </li>
          </ul>
      </div>
  </div>
	 <div class="teamIntroduce">
      <div class="photo">
        <img src="../images/照片墙.jpg" alt="">
      </div>
      <div class="down">
        <div class="one">
          <div class="left">
            <p>To make beach shorts & board shorts we are professional! We use the best right materials in our garments. Since we have a powerful technical team, it makes sure to complete all the procedures perfectly from sample development to bulk completed production, even just start from a conception by our customers. </p>
          </div>
          <div class="right">
              <img src="../images/right.jpg">
          </div>
        </div>
        <div class="two">
          <div class="left">
            <img src="../images/left.jpg">
          </div>
          <div class="right">
            <p>We devote ourselves to making every design become top quality production-- Maui and Sons from Chile; Arvust, Insight, Ksubi, Spencer Project from Australia; Body Glove, TXT from Canada. UBB, IM, LF from America, Fighter from Norway, Murphy from Japan... We have already helped and served those famous and excellent brands. And hope next one coming soon will be you!</p>
          </div> 
        </div>
      </div>
      
    </div>
    <div class="contact">
      <div>
       <span>No.2-3 BAIYU MOUNTAIN VILLA, JIAOJIANG, TAIZHOU, ZHEJIANG, CHINA, 318000</span>
      </div>
      <div>
        <span>sophiecym@163.com</span>
      </div>
      <div>
        <span>0086-1357594770</span>
      </div>
    </div>
  <script src="../js/jquery.js"></script>
  <script src="../bootstrap/js/bootstrap.js"></script>    
<script src="../js/index.js"></script>
</body>
</html>